body {
		background-image: url(../images/1.jpg);
	text-align: center;
}
.menu  {
    overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 2fr;
	border: 3px black solid;
}
.one{
	background:#ffb3d1;

}
.img{
	background:#ffb3d1;
	
}
.menu a {
    float: left;
	color:black;
    text-align: left;
    padding: 60px 16px;
    text-decoration: none;
    font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	font-family:Impact;
}
.menu a:hover {
    color: gray;
}

.hd {
	background: url("../images/2.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	padding: 250px;
}
 .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
	text-align: center;
}
.food {
	background: #ccffff;
	padding:20px;
}


.container {
	padding:100px;
	background-color:#ccffff;
	font-family:Copperplate Gothic ;
	font-size: 65px;
	text-align: center;
	color: black;
}
.h2{
	font-family:Brush Script MT;
	font-size: 65px;
	text-align: center;
	color: black;
	
	}
.main-article{
	
	padding: 5px;
	height:30vh;
	display:grid;
	grid-template-columns: 5fr 1fr;
	grid-gap:5px;
	
}
.article-left{
	background: #ffb3d1;
	padding: 12px;
	border-radius:10px;
}

.article-right{
	background: #ccffff;
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding: 12px;
	grid-gap:10px;
	border-radius:10px;
}
.main-article1{
	padding: 5px;
	
	height:30vh;
	display:grid;
	grid-template-columns: 5fr 1fr;
	grid-gap:5px;
	
}
.article-left1{
	background: #ccffff;
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding: 12px;
	grid-gap:10px;
	border-radius:10px;
}

.article-right1{
	background: #ffb3d1;
	padding: 12px;
	border-radius:10px;
	background-position:center;
}
.main-article2{
	
	padding: 5px;
	
	height:30vh;
	display:grid;
	grid-template-columns: 5fr 1fr;
	grid-gap:5px;
	
}
.article-left2{
	background: #ffb3d1;
	padding: 12px;
	border-radius:10px;
}

.article-right2{
	background: #ccffff;
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding: 12px;
	grid-gap:10px;
	border-radius:10px;
}
.main-article3{
	padding: 5px;
	
	height:35vh;
	display:grid;
	grid-template-columns: 5fr 1fr;
	grid-gap:5px;
	
}
.article-left3{
	background: #ccffff;
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding: 12px;
	grid-gap:10px;
	border-radius:10px;
}
.article-right3{
	background: #ffb3d1;
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding: 12px;
	grid-gap:10px;
	border-radius:10px;
}
.dessert{
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 3fr;
	background: #ccffff;
	color:#ffb3d1;
	
}
.p{
	font-family:verdana;
	font-size: 20px;
	text-align:center;
	color:black;
}
.h1{
	font-family:Copperplate Gothic;
	font-size:50px;
	text-align:center;
	
button{
	background: #f2f2f2;
	color: black;
	border-radius: 10px;
	padding:5px;
}


.dessert{
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 3fr;
	background: #ccffff;
	color:#ffb3d1;
	
}
.box6 h5{
	color: #ffb3d1;
}

.box5 {
	margin-left: 90px;
	
}
.box6{
	padding:20px;
}
button{
	background: #f2f2f2;
	color: black;
	border-radius: 10px;
	padding:5px;
}
.footer {
	background:  #ffb3d1;
	padding: 5px;
	color: #ccffff;
}